<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <title>Cursos</title>
</head>
<body>
    <section>
        <h1>Nuevo Curso</h1>
            <form action="/crear_curso" method="post">
                
                <label for="nombre">Nombre: </label>
                <input type="text" name="nombre" required>
                
                <input type="submit" value="Crear">
            </form>
    </section>
    <section>
        <h1>Todos los cursos</h1>
        <div class="cursos">
            {%for curso in cursos%}
            <a href="/cursos/{{curso.id}}" class="boton">{{curso.nombre}}</a>
            {%endfor%}
            {%if not cursos%}
                <p>No hay cursos registrados</p>
            {%endif%}
        </div>
        <a href="/estudiante" class="boton">Agregar Estudiante</a>
    </section>
</body>
</html>